* {
    font-family: 'Audiowide', cursive, sans-serif;
}

.content-box-one {
    border-style: ridge;
    border-width: 8px;
    border-color: rgb(221, 36, 221);
    padding: 5px;
}

.titletext {
    color: rgb(0, 195, 255);
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

body {
    background: black;
    background: url(neon.jpg);
}

h3 {
    padding: 30px;
    text-align: center;
    text-decoration-color: rgb(221, 36, 221);
    font-size: 20px;
    color: rgb(0, 195, 255);
    font-size: 50px;
    padding: 70px;
    font-family: 'Audiowide', cursive, sans-serif;
}

.feelingButton {
    color: rgb(0, 195, 255);
    background-color: rgba(0, 0, 0, 0.658);
    border-style: ridge;
    border: 2px solid rgb(221, 36, 221);
    border-radius: 10px;
    font-size: 25px;
    padding: 15px;
    margin: 10px;
}

#data-container {
    border: 2px solid rgb(221, 36, 221);
}

.data {
    color: rgb(0, 195, 255);
    text-align: center;
}

img {
    width: 250px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 1px solid rgb(221, 36, 221);
}